<div id="bkm-head">
  <div id="entry-preview">
  エントリー：
    <% $head.each do |head| %>
      <a href="<%= head.URL %>" target="_blank"><%= head.title %></a><span></span>
    <% end %>
  </div>

  <div id="float-right">
    <div>
      <label for="check">
        殴らない<input type="checkbox" id="check" />
      </label>
    </div>
    <div id="bkm-remaining">
      公開ブクマ <span id="bkm-remaining-figure"><%= $to_beat.size %></span>users
    </div>
  </div>
</div>


<div id="bkm-contents">
  <% $to_beat.each do |bm| %>
  <% rd = rand(6) + 1 %>
    <% if rd == 1 %>
      <% cl = "#FAFAFA" %>
    <% elsif rd == 2 %>
      <% cl = "#F8E0F7" %>
    <% elsif rd == 3 %>
      <% cl = "#E0E6F8" %>
    <% elsif rd == 4 %>
      <% cl = "#E0F8E6" %>
    <% elsif rd == 5 %>
      <% cl = "#F7F8E0" %>
    <% elsif rd == 6 %>
      <% cl = "#F8E0E0" %>
    <% end %>
  <div class="bkm-box"  style="background-color : <%= cl %>">
    <div class="bkm-user"><%= bm.user %>
      <% if bm.spower != 0 %>
        <span class="bkm-star">★<span class="figure"><%= bm.spower %></span></span>
      <% else %>
        <span class="bkm-star"><span class="figure"></span></span>
      <% end %>
    </div>
    <div class="bkm-icon"><img src="<%= bm.icon %>" width="48px" height="48px"></div>
    <div class="bkm-comment"><%= bm.comment %></div>  
  </div>
  <% end %>
</div>







<!--一般兵-->
  <audio class="sound00" preload="auto">
    <source src="/sound/sound00.mp3" type="audio/mp3">
  </audio>
  <audio class="sound01" preload="auto">
    <source src="/sound/sound01.mp3" type="audio/mp3">
  </audio>
  <audio class="sound02" preload="auto">
    <source src="/sound/sound02.mp3" type="audio/mp3">
  </audio>
  <audio class="sound03" preload="auto">
    <source src="/sound/sound03.mp3" type="audio/mp3">
  </audio>
  <audio class="sound04" preload="auto">
    <source src="/sound/sound04.mp3" type="audio/mp3">
  </audio>
  <audio class="sound05" preload="auto">
    <source src="/sound/sound05.mp3" type="audio/mp3">
  </audio>
  <audio class="sound06" preload="auto">
    <source src="/sound/sound06.mp3" type="audio/mp3">
  </audio>
  <audio class="sound07" preload="auto">
    <source src="/sound/sound07.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound08" preload="auto">
    <source src="/sound/sound08.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound09" preload="auto">
    <source src="/sound/sound09.mp3" type="audio/mp3">
  </audio>  

<!--ライバル00-->
  <audio class="rival00-safe00" preload="auto">
    <source src="/sound/rival/cool/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe01" preload="auto">
    <source src="/sound/rival/cool/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe02" preload="auto">
    <source src="/sound/rival/cool/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe03" preload="auto">
    <source src="/sound/rival/cool/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinchi00" preload="auto">
    <source src="/sound/rival/cool/pinchi00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinchi01" preload="auto">
    <source src="/sound/rival/cool/pinchi01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinchi02" preload="auto">
    <source src="/sound/rival/cool/pinchi02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival00-die" preload="auto">
    <source src="/sound/rival/cool/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル01-->
  <audio class="rival01-safe00" preload="auto">
    <source src="/sound/rival/priest/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe01" preload="auto">
    <source src="/sound/rival/priest/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe02" preload="auto">
    <source src="/sound/rival/priest/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe03" preload="auto">
    <source src="/sound/rival/priest/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinchi00" preload="auto">
    <source src="/sound/rival/priest/pinchi00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinchi01" preload="auto">
    <source src="/sound/rival/priest/pinchi01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinchi02" preload="auto">
    <source src="/sound/rival/priest/pinchi02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival01-die" preload="auto">
    <source src="/sound/rival/priest/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル02-->
  <audio class="rival02-safe00" preload="auto">
    <source src="/sound/rival/witch/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe01" preload="auto">
    <source src="/sound/rival/witch/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe02" preload="auto">
    <source src="/sound/rival/witch/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe03" preload="auto">
    <source src="/sound/rival/witch/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinchi00" preload="auto">
    <source src="/sound/rival/witch/pinchi00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinchi01" preload="auto">
    <source src="/sound/rival/witch/pinchi01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinchi02" preload="auto">
    <source src="/sound/rival/witch/pinchi02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival02-die" preload="auto">
    <source src="/sound/rival/witch/die.mp3" type="audio/mp3">
  </audio>
  
<!--ライバル03-->
  <audio class="rival03-safe00" preload="auto">
    <source src="/sound/rival/hero/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe01" preload="auto">
    <source src="/sound/rival/hero/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe02" preload="auto">
    <source src="/sound/rival/hero/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe03" preload="auto">
    <source src="/sound/rival/hero/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinchi00" preload="auto">
    <source src="/sound/rival/hero/pinchi00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinchi01" preload="auto">
    <source src="/sound/rival/hero/pinchi01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinchi02" preload="auto">
    <source src="/sound/rival/hero/pinchi02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival03-die" preload="auto">
    <source src="/sound/rival/hero/die.mp3" type="audio/mp3">
  </audio>  