<div id="left">
  <div id="entry-preview">
    <div>
      <%= $ur %>
      <%= $ti %>
    </div>
    
    
  </div>
  
  <% $to_beat.each do |bm| %>
  <div class="bkm-box">
    <div class="bkm-icon"><img src="<%= bm.icon %>" width="32px" height="32px"></div>
    <div class="bkm-user"><%= bm.user %></div>
    <div class="bkm-comment"><%= bm.comment %></div>
      <% if bm.spower != 0 %>
        <div class="bkm-star">★<span class="figure"><%= bm.spower %></span></div>
      <% else %>
        <div class="bkm-star"><span class="figure"></span></div>
      <% end %>
  </div>
  <% end %>
</div>
<div id="right">
  <div class="switch">
    <input id="switch" checked type="checkbox">
    <label for="switch"></label>
  </div>
  <div id="btn_vol"> 音声</div>
  <div id="btn_expl">雑魚には用はない</div> 
</div>






  <audio class="btnsound00" preload="auto">
    <source src="/sound/punch-middle2.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound01" preload="auto">
    <source src="/sound/slap1.mp3" type="audio/mp3">
  </audio>
    <audio class="btnsound02" preload="auto">
    <source src="/sound/game-healer-damage2.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound03" preload="auto">
    <source src="/sound/game-princess-damage1.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound04" preload="auto">
    <source src="/sound/game-swordman-damage2.mp3" type="audio/mp3">
  </audio>
    <audio class="btnsound05" preload="auto">
    <source src="/sound/game-swordwoman-damage2.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound06" preload="auto">
    <source src="/sound/game-thief-boy-damage1.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound07" preload="auto">
    <source src="/sound/kick-low1.mp3" type="audio/mp3">
  </audio>