<div id="bkm-head">
  <div id="entry-preview">
      <a href="http://b.hatena.ne.jp/entry/<%= @url %>" target="_blank">記事のぶくまぺーじリンク</a>
  </div>

  <div id="float-right">
    <div>
      <label for="check">
      ｜殴る<input type="checkbox" id="check" />
      </label>
      ＊注意＊音が鳴ります｜
    </div>
    <div id="bkm-remaining">
      公開ブクマ <span id="bkm-remaining-figure"><%= @bkm.size %></span>users
    </div>
  </div>
</div>


<div id="bkm-contents">
  <% @bkm.each do |bm| %>
  var rand = Math.floor( Math.random() * 7 ) ;

  
  
        <% rd = rand(7) + 1 %>
        <% if rd == 1 %>
          <% cl = "#ffebee" %>
        <% elsif rd == 2 %>
          <% cl = "#ede7f6" %>
        <% elsif rd == 3 %>
          <% cl = "#e1f5fe" %>
        <% elsif rd == 4 %>
          <% cl = "#e8f5e9" %>
        <% elsif rd == 5 %>
          <% cl = "#fffde7" %>
        <% elsif rd == 6 %>
          <% cl = "#fbe9e7" %>
        <% else %>
          <% cl = "#eceff1" %>
        <% end %>
  <div class="bkm-box"  style="background-color : <%= cl %>">
    <div class="bkm-user"><%= bm["user"] %></div>
    <div class="bkm-icon"><img src="<%= bm["icon"] %>" width="48px" height="48px"></div>
    <div class="bkm-comment"><%= h bm["comment"] %></div>  
  </div>
  <% end %>
</div>







<!--一般兵-->
  <audio class="sound00" preload="auto">
    <source src="/sound/sound00.mp3" type="audio/mp3">
  </audio>
  <audio class="sound01" preload="auto">
    <source src="/sound/sound01.mp3" type="audio/mp3">
  </audio>
  <audio class="sound02" preload="auto">
    <source src="/sound/sound02.mp3" type="audio/mp3">
  </audio>
  <audio class="sound03" preload="auto">
    <source src="/sound/sound03.mp3" type="audio/mp3">
  </audio>
  <audio class="sound04" preload="auto">
    <source src="/sound/sound04.mp3" type="audio/mp3">
  </audio>
  <audio class="sound05" preload="auto">
    <source src="/sound/sound05.mp3" type="audio/mp3">
  </audio>
  <audio class="sound06" preload="auto">
    <source src="/sound/sound06.mp3" type="audio/mp3">
  </audio>
  <audio class="sound07" preload="auto">
    <source src="/sound/sound07.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound08" preload="auto">
    <source src="/sound/sound08.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound09" preload="auto">
    <source src="/sound/sound09.mp3" type="audio/mp3">
  </audio>  

<!--ライバル00-->
  <audio class="rival00-safe00" preload="auto">
    <source src="/sound/rival/cool/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe01" preload="auto">
    <source src="/sound/rival/cool/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe02" preload="auto">
    <source src="/sound/rival/cool/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe03" preload="auto">
    <source src="/sound/rival/cool/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch00" preload="auto">
    <source src="/sound/rival/cool/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch01" preload="auto">
    <source src="/sound/rival/cool/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch02" preload="auto">
    <source src="/sound/rival/cool/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival00-die" preload="auto">
    <source src="/sound/rival/cool/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル01-->
  <audio class="rival01-safe00" preload="auto">
    <source src="/sound/rival/priest/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe01" preload="auto">
    <source src="/sound/rival/priest/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe02" preload="auto">
    <source src="/sound/rival/priest/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe03" preload="auto">
    <source src="/sound/rival/priest/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch00" preload="auto">
    <source src="/sound/rival/priest/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch01" preload="auto">
    <source src="/sound/rival/priest/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch02" preload="auto">
    <source src="/sound/rival/priest/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival01-die" preload="auto">
    <source src="/sound/rival/priest/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル02-->
  <audio class="rival02-safe00" preload="auto">
    <source src="/sound/rival/witch/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe01" preload="auto">
    <source src="/sound/rival/witch/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe02" preload="auto">
    <source src="/sound/rival/witch/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe03" preload="auto">
    <source src="/sound/rival/witch/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch00" preload="auto">
    <source src="/sound/rival/witch/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch01" preload="auto">
    <source src="/sound/rival/witch/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch02" preload="auto">
    <source src="/sound/rival/witch/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival02-die" preload="auto">
    <source src="/sound/rival/witch/die.mp3" type="audio/mp3">
  </audio>
  
<!--ライバル03-->
  <audio class="rival03-safe00" preload="auto">
    <source src="/sound/rival/hero/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe01" preload="auto">
    <source src="/sound/rival/hero/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe02" preload="auto">
    <source src="/sound/rival/hero/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe03" preload="auto">
    <source src="/sound/rival/hero/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch00" preload="auto">
    <source src="/sound/rival/hero/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch01" preload="auto">
    <source src="/sound/rival/hero/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch02" preload="auto">
    <source src="/sound/rival/hero/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival03-die" preload="auto">
    <source src="/sound/rival/hero/die.mp3" type="audio/mp3">
  </audio>  
  
  
  <audio class="clear" preload="auto">
    <source src="/sound/sound99.mp3" type="audio/mp3">
  </audio>  