<div id="bkm-head">
  <div id="entry-preview">
  エントリー：
    <% $head.each do |head| %>
      <a href="<%= head.URL %>" target="_blank"><%= head.title %></a><span></span>
    <% end %>
  </div>
  <div id="bkm-remaining"><%= $to_beat.size %></div>
</div>


<div id="bkm-contents">
  <% $to_beat.each do |bm| %>
  <% rd = rand(6) + 1 %>
    <% if rd == 1 %>
      <% cl = "#FAFAFA" %>
    <% elsif rd == 2 %>
      <% cl = "#F8E0F7" %>
    <% elsif rd == 3 %>
      <% cl = "#E0E6F8" %>
    <% elsif rd == 4 %>
      <% cl = "#E0F8E6" %>
    <% elsif rd == 5 %>
      <% cl = "#F7F8E0" %>
    <% elsif rd == 6 %>
      <% cl = "#F8E0E0" %>
    <% end %>
  <div class="bkm-box"  style="background-color : <%= cl %>">
    <div class="bkm-user"><%= bm.user %>
      <% if bm.spower != 0 %>
        <span class="bkm-star">★<span class="figure"><%= bm.spower %></span></span>
      <% else %>
        <span class="bkm-star"><span class="figure"></span></span>
      <% end %>
    </div>
    <div class="bkm-icon"><img src="<%= bm.icon %>" width="48px" height="48px"></div>
    <div class="bkm-comment"><%= bm.comment %></div>  
  </div>
  <% end %>
</div>








  <audio class="btnsound00" preload="auto">
    <source src="/sound/punch-middle2.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound01" preload="auto">
    <source src="/sound/slap1.mp3" type="audio/mp3">
  </audio>
    <audio class="btnsound02" preload="auto">
    <source src="/sound/game-healer-damage1.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound03" preload="auto">
    <source src="/sound/game-princess-damage1.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound04" preload="auto">
    <source src="/sound/game-swordman-damage2.mp3" type="audio/mp3">
  </audio>
    <audio class="btnsound05" preload="auto">
    <source src="/sound/game-swordwoman-damage2.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound06" preload="auto">
    <source src="/sound/game-thief-boy-damage1.mp3" type="audio/mp3">
  </audio>
  <audio class="btnsound07" preload="auto">
    <source src="/sound/kick-low1.mp3" type="audio/mp3">
  </audio>
  
  <audio class="rival-safe-00-00" preload="auto">
    <source src="/sound/rival/safe-00-00.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-00-01" preload="auto">
    <source src="/sound/rival/safe-00-01.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-00-02" preload="auto">
    <source src="/sound/rival/safe-00-02.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-00-03" preload="auto">
    <source src="/sound/rival/safe-00-03.wav" type="audio/wav">
  </audio>
  
  <audio class="rival-safe-01-00" preload="auto">
    <source src="/sound/rival/safe-01-00.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-01-01" preload="auto">
    <source src="/sound/rival/safe-01-01.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-01-02" preload="auto">
    <source src="/sound/rival/safe-01-02.wav" type="audio/wav">
  </audio>
  <audio class="rival-safe-01-03" preload="auto">
    <source src="/sound/rival/safe-01-03.wav" type="audio/wav">
  </audio>
  
  <audio class="rival-die-00" preload="auto">
    <source src="/sound/rival/die-00.wav" type="audio/wav">
  </audio>
  <audio class="rival-die-01" preload="auto">
    <source src="/sound/rival/die-01.wav" type="audio/wav">
  </audio>