    <div>はてなのホットエントリーについたブクマを殴ってあそぶサイトです。普通のはてブ閲覧サイトとしても（一応）使えます。｜<a href="/about">About</a>｜<a href="http://b.hatena.ne.jp/entry/s/myapp-barbieri0303.c9users.io/" class="hatena-bookmark-button" data-hatena-bookmark-title="てすと" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></div>
    <div id="entries-header">ただいまのはてなホットエントリー</div>
    <div id="contents">
      <% $top.each do |link| %>
        <% rd = rand(7) + 1 %>
        <% if rd == 1 %>
          <% cl = "#9575cd" %>
        <% elsif rd == 2 %>
          <% cl = "#e57373" %>
        <% elsif rd == 3 %>
          <% cl = "#4fc3f7" %>
        <% elsif rd == 4 %>
          <% cl = "#81c784" %>
        <% elsif rd == 5 %>
          <% cl = "#ffee58" %>
        <% elsif rd == 6 %>
          <% cl = "#ff8a65" %>
        <% else %>
          <% cl = "#90a4ae" %>
        <% end %>
        <div class="entries" data-id="<%= link.eid %>" style="border-top : 3px solid <%= cl %>; border-left : 3px solid <%= cl %>">
          <div class="entry-title"><a href="<%= link.URL %>" target="_blank"><%= link.title %></a></div>
          <div class="bkmcount"><a href="/<%= link.eid %>"><%= link.bkmcount %>users</a></div>
          <% $top_three = Post.where("eid" => link.eid).where("run" => 1).select("user","comment","spower","icon").distinct.order("spower DESC").limit(3) %>
          <div class="top-three-bkm"><a href= "/<%= link.eid %>">
          <% $top_three.each do |three| %>
            <div class="bkm-preview">
              <img class="top-user-img" src="<%= three.icon %>" height="14px" width="14px">
              <span class="top-user-name"><%= three.user[0..12] %></span>
              <span class="top-user-comment"><%= h three.comment[0..32] %>…</span>
              <span class="top-user-star">★<%= three.spower %></span>
            </div>
          <% end %>
          </a></div>
        </div>
      <% end %>
    </div>
    
<!--
    <div id="right">
      <div id="htbicon"><a href="http://b.hatena.ne.jp/entry/s/myapp-barbieri0303.c9users.io/" class="hatena-bookmark-button" data-hatena-bookmark-title="てすと" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><span>←これ</span></div>
    </div>
-->

