    <div id="entries-header"><%= @disp %></div>
    <div id="contents">
      <% @entries.each do |entry| %>
        <% rd = rand(7) + 1 %>
        <% if rd == 1 %>
          <% cl = "#9575cd" %>
        <% elsif rd == 2 %>
          <% cl = "#e57373" %>
        <% elsif rd == 3 %>
          <% cl = "#4fc3f7" %>
        <% elsif rd == 4 %>
          <% cl = "#81c784" %>
        <% elsif rd == 5 %>
          <% cl = "#ffee58" %>
        <% elsif rd == 6 %>
          <% cl = "#ff8a65" %>
        <% else %>
          <% cl = "#90a4ae" %>
        <% end %>
        <div class="entries" style="border-top : 3px solid <%= cl %>; border-left : 3px solid <%= cl %>">
          <div class="entry-title"><a class="link" href="<%= entry["link"] %>" target="_blank"><%= entry["title"] %></a></div>
          <div class="bkmcount"><%= entry["bkmcount"] %>users</div>
          <div class="description"><%= entry["description"] %>…</div>
        </div>
      <% end %>
      <div class="cm-box">
<table cellpadding="0" cellspacing="0" border="0" style=" border-style: none; width:300px;"><tr style="border-style:none;"><td style="vertical-align:top; border-style:none; padding:10px; width:44px;"><a href="https://rpx.a8.net/svt/ejp?a8mat=2NHZ7S+7PG1GA+2HOM+BWGDT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00reb44.2bo11755.g00reb44.2bo12ad3%2Fa16040268024_2NHZ7S_7PG1GA_2HOM_BWGDT%3Fpc%3Dhttp%253A%252F%252Fitem.rakuten.co.jp%252Frakutenkobo-ebooks%252Fa43748d28c893a44bf77250be835eee8%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Frakutenkobo-ebooks%252Fi%252F15129939%252F" target="_blank"><img border="0" alt="" src="http://thumbnail.image.rakuten.co.jp/@0_mall/rakutenkobo-ebooks/cabinet/7042/2000003847042.jpg?_ex=64x64" /></a></td><td style="font-size:12px; vertical-align:middle; border-style:none; padding:10px;"><p style="padding:0; margin:0;"><a href="https://rpx.a8.net/svt/ejp?a8mat=2NHZ7S+7PG1GA+2HOM+BWGDT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2Fg00reb44.2bo11755.g00reb44.2bo12ad3%2Fa16040268024_2NHZ7S_7PG1GA_2HOM_BWGDT%3Fpc%3Dhttp%253A%252F%252Fitem.rakuten.co.jp%252Frakutenkobo-ebooks%252Fa43748d28c893a44bf77250be835eee8%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252Frakutenkobo-ebooks%252Fi%252F15129939%252F" target="_blank">魔法少女まどか☆マギカ[魔獣編]　1巻【電子書籍】[ MagicaQuartet ]</a></p><p style="color:#666; margin-top:5px line-height:1.5;"></p></td></tr></table>
<img style="float:right" border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2NHZ7S+7PG1GA+2HOM+BWGDT" alt="">
      </div>
      <div class="cm-box">
      <script type="text/javascript" src="//rot6.a8.net/jsa/497cd700285ef78bde63814dae17ad9b/93dd4de5cddba2c733c65f233097f05a.js"></script>
      </div>
    </div>