    <div id="entries-header"><%= @disp %></div>
    <div id="contents">
      <% @entries.each do |entry| %>
        <% rd = rand(7) + 1 %>
        <% if rd == 1 %>
          <% cl = "#9575cd" %>
        <% elsif rd == 2 %>
          <% cl = "#e57373" %>
        <% elsif rd == 3 %>
          <% cl = "#4fc3f7" %>
        <% elsif rd == 4 %>
          <% cl = "#81c784" %>
        <% elsif rd == 5 %>
          <% cl = "#ffee58" %>
        <% elsif rd == 6 %>
          <% cl = "#ff8a65" %>
        <% else %>
          <% cl = "#90a4ae" %>
        <% end %>
        <div class="entries" style="border-top : 3px solid <%= cl %>; border-left : 3px solid <%= cl %>">
          <div class="entry-title"><a class="link" href="<%= entry["link"] %>" target="_blank"><%= entry["title"] %></a></div>
          <div class="bkmcount"><%= entry["bkmcount"] %>users</div>
          <div class="description"><%= entry["description"] %>…</div>
        </div>
      <% end %>
    </div>