
<div id="container">
  <div id="column-left">
    <div id="hot-head">ホットエントリ</div>
    <ul>
    <% $top.each do |link| %>
      <li class="entries" data-id="<%= link.eid %>">
        <div class="url"><a href="<%= link.URL %>"><%= link.title %></a></div>
        <div class="bkmcount"><a href="/<%= link.eid %>"><%= link.bkmcount %>users</a></div>
      </li>
    <% end %>
    </ul>
  </div>
</div>


