    <div id="entries-header">ただいまのはてなホットエントリー</div>
    <div id="contents">
      <% @entries.each do |entry| %>
        <% rd = rand(7) + 1 %>
        <% if rd == 1 %>
          <% cl = "#9575cd" %>
        <% elsif rd == 2 %>
          <% cl = "#e57373" %>
        <% elsif rd == 3 %>
          <% cl = "#4fc3f7" %>
        <% elsif rd == 4 %>
          <% cl = "#81c784" %>
        <% elsif rd == 5 %>
          <% cl = "#ffee58" %>
        <% elsif rd == 6 %>
          <% cl = "#ff8a65" %>
        <% else %>
          <% cl = "#90a4ae" %>
        <% end %>
        <div class="entries" style="border-top : 3px solid <%= cl %>; border-left : 3px solid <%= cl %>">
          <div class="entry-title"><a class="link" href="<%= entry["link"] %>" target="_blank"><%= entry["title"] %></a></div>
          <div class="bkmcount"><%= entry["bkmcount"] %>users</div>
          <div class="description"><%= entry["description"] %></div>
        </div>
      <% end %>
    </div>





<!--
    <div id="right">
      <div id="htbicon"><a href="http://b.hatena.ne.jp/entry/s/myapp-barbieri0303.c9users.io/" class="hatena-bookmark-button" data-hatena-bookmark-title="てすと" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><span>←これ</span></div>
    </div>

-->





<!--一般兵-->
  <audio class="sound00" preload="auto">
    <source src="/sound/sound00.mp3" type="audio/mp3">
  </audio>
  <audio class="sound01" preload="auto">
    <source src="/sound/sound01.mp3" type="audio/mp3">
  </audio>
  <audio class="sound02" preload="auto">
    <source src="/sound/sound02.mp3" type="audio/mp3">
  </audio>
  <audio class="sound03" preload="auto">
    <source src="/sound/sound03.mp3" type="audio/mp3">
  </audio>
  <audio class="sound04" preload="auto">
    <source src="/sound/sound04.mp3" type="audio/mp3">
  </audio>
  <audio class="sound05" preload="auto">
    <source src="/sound/sound05.mp3" type="audio/mp3">
  </audio>
  <audio class="sound06" preload="auto">
    <source src="/sound/sound06.mp3" type="audio/mp3">
  </audio>
  <audio class="sound07" preload="auto">
    <source src="/sound/sound07.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound08" preload="auto">
    <source src="/sound/sound08.mp3" type="audio/mp3">
  </audio>  
  <audio class="sound09" preload="auto">
    <source src="/sound/sound09.mp3" type="audio/mp3">
  </audio>  

<!--ライバル00-->
  <audio class="rival00-safe00" preload="auto">
    <source src="/sound/rival/cool/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe01" preload="auto">
    <source src="/sound/rival/cool/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe02" preload="auto">
    <source src="/sound/rival/cool/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-safe03" preload="auto">
    <source src="/sound/rival/cool/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch00" preload="auto">
    <source src="/sound/rival/cool/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch01" preload="auto">
    <source src="/sound/rival/cool/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival00-pinch02" preload="auto">
    <source src="/sound/rival/cool/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival00-die" preload="auto">
    <source src="/sound/rival/cool/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル01-->
  <audio class="rival01-safe00" preload="auto">
    <source src="/sound/rival/priest/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe01" preload="auto">
    <source src="/sound/rival/priest/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe02" preload="auto">
    <source src="/sound/rival/priest/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-safe03" preload="auto">
    <source src="/sound/rival/priest/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch00" preload="auto">
    <source src="/sound/rival/priest/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch01" preload="auto">
    <source src="/sound/rival/priest/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival01-pinch02" preload="auto">
    <source src="/sound/rival/priest/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival01-die" preload="auto">
    <source src="/sound/rival/priest/die.mp3" type="audio/mp3">
  </audio>

<!--ライバル02-->
  <audio class="rival02-safe00" preload="auto">
    <source src="/sound/rival/witch/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe01" preload="auto">
    <source src="/sound/rival/witch/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe02" preload="auto">
    <source src="/sound/rival/witch/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-safe03" preload="auto">
    <source src="/sound/rival/witch/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch00" preload="auto">
    <source src="/sound/rival/witch/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch01" preload="auto">
    <source src="/sound/rival/witch/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival02-pinch02" preload="auto">
    <source src="/sound/rival/witch/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival02-die" preload="auto">
    <source src="/sound/rival/witch/die.mp3" type="audio/mp3">
  </audio>
  
<!--ライバル03-->
  <audio class="rival03-safe00" preload="auto">
    <source src="/sound/rival/hero/safe00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe01" preload="auto">
    <source src="/sound/rival/hero/safe01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe02" preload="auto">
    <source src="/sound/rival/hero/safe02.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-safe03" preload="auto">
    <source src="/sound/rival/hero/safe03.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch00" preload="auto">
    <source src="/sound/rival/hero/pinch00.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch01" preload="auto">
    <source src="/sound/rival/hero/pinch01.mp3" type="audio/mp3">
  </audio>
  <audio class="rival03-pinch02" preload="auto">
    <source src="/sound/rival/hero/pinch02.mp3" type="audio/mp3">
  </audio>  
  <audio class="rival03-die" preload="auto">
    <source src="/sound/rival/hero/die.mp3" type="audio/mp3">
  </audio>  
  
  
  <audio class="clear" preload="auto">
    <source src="/sound/sound99.mp3" type="audio/mp3">
  </audio>  